.style-card{
    position: relative;
    background-color: #2e2727;
    color: white;
    width: 100% !important;
}
.main-features {
    color: white;
    background-color:rgb(253, 247, 247);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 101%;
  }
